# ignore testing dat this will be hosted on heroku
data
# ignore enviroment
.env
.vscode
# ignore junk mad by python
__pycache__
app/__pycache__
app/*/__pycache__

# for local dev
run.sh
app/testing.ipynb
