[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
bs4 = "*"
requests = "*"
gunicorn = "*"
pandas = "*"
numpy = "*"
python-dotenv = "*"
lxml = "*"
scikit-learn = "*"
nltk = "*"
psycopg2-binary = "*"
spacy = "*"

[dev-packages]

[requires]
python_version = "3.7"
