<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/admin/models/rebuild" method="POST">

        <label>rebuild</label>
        <select name="model">
            <option value="mark" selected="true">mark</option>
            <option value="isaac">isaac</option>
        </select>
        <br>

        <button>Submit</button>
    </form>
</body>

</html>
