{% extends "bootstrap_layout.html" %}
{% set active_page = "admin_page" %}

{% block content %}

<h1>Welcome to the admin panel.</h1>
<p> this is a place that you can do some basic</p>
<p>tasks with the api site behind the scenes including rebuiling the models</p>
<p>with the button below you can rebuild the models</p>
<form action="/admin/models/rebuild" method="POST">
    <button>Submit</button>
</form>
<br>
<p>With the button below you can rebuild the database from source</p>
<form action="/admin/db/rebuild" method="POST">
    <button>Submit</button>
</form>
{% endblock %}
