<form action="/products/query" method="POST">

    <label>flavors</label>
    <select name="flavors">
        <option value="sweet" selected="true">sweet</option>
        <option value="citrus">citrus</option>
        <option value="fuit">fruit</option>
    </select>
    <br>

    <label>effects</label>
    <select name="effects">
        <option value="energetic">Energetic</option>
        <option value="sleepy" selected="true">Sleepy</option>
        <option value="dry mouth">Dry mouth</option>
    </select>
    <br>

    <label>user_text</label>
    <input type="text" name="text" placeholder="None" value="None">
    <br>

    <button>Submit</button>
</form>
