<form action="/products/query" method="POST">

    <label>flavors</label>
    <select name="flavors">
        <option value="sweet" selected="true">sweet</option>
        <option value="citrus">citrus</option>
        <option value="fuit">fruit</option>
    </select>
    <br>

    <label>Twitter User B:</label>
    <select name="effects">
        <option value="elonmusk">@elonmusk</option>
        <option value="justinbieber" selected="true">@justinbieber</option>
        <option value="nbcnews">@nbcnews</option>
        <option value="s2t2">@s2t2</option>
    </select>
    <br>

    <label>Tweet Text:</label>
    <input type="text" name="text" placeholder="None" value="None">
    <br>

    <button>Submit</button>
</form>
